#frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: fixed;
    overflow: hidden;
}

@media(min-aspect-ratio: 9/16) {
    #frame {
        width: 56.25vh;
        height: 100vh;
    }
}

@media(max-aspect-ratio: 9/16) {
    #frame {
        height: 177.778vw;
        width: 100vw;
    }
}
